@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
.app-main {
  position: absolute;
  display: flex;
  flex-direction: column;
  margin: 0;
  z-index: 0;
  align-items: center;
  background-color: #f5f5f500;
  width: 100%;
  height: 1000px;
}

.navbar-container {
  position: fixed;
  margin: 0;
  width: 100%;
  z-index: 1000;
  background-color: #fcfcfce5;
  padding: 10px 5px 10px 5px;
  border-bottom: 1px solid #e0e0e0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-content{
  width: 100%;
  position: relative;
  margin: 0px 0 auto 0;
  z-index: 1;
}

.nav-profile-logo-container{
  width: 100px;
}

h3,p{
  margin: 0;
}
