.book-container {
  width: 100%;
  height: fit-content;
}
.book-navbar-container{
  position: fixed;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: fit-content;
  justify-content: space-between;
  z-index: 999;
  background-color: #fcfcfce5;
  margin: 42px 0 auto 0;
  padding: 10px 0px 10px 0px;
}
.book-nav-pannel-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
}

.phantom-div{
  width: 300px;
  height: 10px;
}